body {
    font-size: 2rem;
    text-align: center;
}

button {
    width: 10em;
    font-size: 2rem;
    margin-left: 1em;
}

li {
    margin-top: 1em;
}

input {
    margin-top: 5em;
    width: 10em;
    font-size: 2rem;
}